@Vittal.API_HostAddress = https://localhost:5089

### Swagger UI
GET {{Vittal.API_HostAddress}}/swagger

### Login (Auth)
POST {{Vittal.API_HostAddress}}/api/auth/login
Content-Type: application/json

{
  "email": "TU_EMAIL_AQUI",
  "password": "TU_PASSWORD_AQUI"
}

###
